Alemana.Nucleo.Estadisticas/Alemana.Nucleo.Estadisticas.Servicio/Service References/WsIntegracionCRM/AL_CONS_REQXMED_RESUMEN_PRES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/AL_CONS_REQXMED_RESUMEN_PRES.V1" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/AL_CONS_REQXMED_RESUMEN_PRES.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AL_CONS_REQXMED_RESUMEN_PRES" type="AL_CONS_REQXMED_RESUMEN_PRES_TypeShape" />
  <xsd:complexType name="AL_CONS_REQXMED_RESUMEN_PRES_TypeShape">
    <xsd:sequence>
      <xsd:element name="AL_REQCDRES_WKI" type="AL_REQCDRES_WKIMsgDataRecord_TypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AL_REQCDRES_WKIMsgDataRecord_TypeShape">
    <xsd:sequence>
      <xsd:element name="CASE_ID" type="CASE_ID_TypeDef" />
      <xsd:element name="PERSON_ID" type="PERSON_ID_TypeDef" />
      <xsd:element name="DESCR_TIPO_CASO" type="DESCR_TIPO_CASO_TypeDef" />
      <xsd:element name="ROW_ADDED_DTTM" type="ROW_ADDED_DTTM_TypeDef" />
      <xsd:element name="AL_ESTADO_SECUNDAR" type="AL_ESTADO_SECUNDAR_TypeDef" />
      <xsd:element name="OBSERVACIONES" type="OBSERVACIONES_TypeDef" />
    </xsd:sequence>
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required" />
  </xsd:complexType>
  <xsd:simpleType name="CASE_ID_TypeDef">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PERSON_ID_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15" />
      <xsd:whiteSpace value="preserve" />
      <xsd:pattern value="([A-Z]|[0-9]|\p{Z}|\p{P}|\p{Lu})*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DESCR_TIPO_CASO_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ROW_ADDED_DTTM_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(\d{4}-\d{2}-\d{2})(T(0[0-9]|1[0-9]|2[0-3])(:[0-5][0-9]){2})(.\d{1,6})?((\+|\-)(\d{2})(:\d{2}))?" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AL_ESTADO_SECUNDAR_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4" />
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OBSERVACIONES_TypeDef">
    <xsd:restriction base="xsd:string">
      <xsd:whiteSpace value="preserve" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>