Alemana.Nucleo.Estadisticas/Alemana.Nucleo.Estadisticas.Servicio/Service References/WsIntegracionCRM/AL_CONS_REQXMED_DETALLE_PREQ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/AL_CONS_REQXMED_DETALLE_PREQ.V1" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/AL_CONS_REQXMED_DETALLE_PREQ.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="AL_CONS_REQXMED_DETALLE_PREQ" type="AL_CONS_REQXMED_DETALLE_PREQ_TypeShape" />
  <xsd:complexType name="AL_CONS_REQXMED_DETALLE_PREQ_TypeShape">
    <xsd:sequence>
      <xsd:element name="AL_CASEID_WKI" type="AL_CASEID_WKIMsgDataRecord_TypeShape" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AL_CASEID_WKIMsgDataRecord_TypeShape">
    <xsd:sequence>
      <xsd:element name="CASE_ID" type="CASE_ID_TypeDef" />
    </xsd:sequence>
    <xsd:attribute fixed="R" name="class" type="xsd:string" use="required" />
  </xsd:complexType>
  <xsd:simpleType name="CASE_ID_TypeDef">
    <xsd:restriction base="xsd:integer">
      <xsd:totalDigits value="15" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>