Alemana.Nucleo.Estadisticas/Alemana.Nucleo.Estadisticas.Servicio/Service References/WsIntegracionCRM/AL_CONS_REQXMED_RESUMEN_CRES.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/Enterprise/Tools/schemas/AL_CONS_REQXMED_RESUMEN_CRES.V1" xmlns:AL_CONS_REQXMED_RESUMEN_PRES.V1="http://xmlns.oracle.com/Enterprise/Tools/schemas/AL_CONS_REQXMED_RESUMEN_PRES.V1" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/AL_CONS_REQXMED_RESUMEN_CRES.V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="AL_CONS_REQXMED_RESUMEN_PRES.V1.xsd" namespace="http://xmlns.oracle.com/Enterprise/Tools/schemas/AL_CONS_REQXMED_RESUMEN_PRES.V1" />
  <xsd:element name="AL_CONS_REQXMED_RESUMEN_CRES" type="AL_CONS_REQXMED_RESUMEN_CRESType" />
  <xsd:complexType name="AL_CONS_REQXMED_RESUMEN_CRESType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="AL_CONS_REQXMED_RESUMEN_PRES" type="AL_CONS_REQXMED_RESUMEN_PRES.V1:AL_CONS_REQXMED_RESUMEN_PRES_TypeShape" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>